APP_NAME="CFLAG DMR"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://YOUR_DEV_SERVER_IP

DB_HOST=localhost
DB_NAME=cflag_dmr_dev
DB_USER=cflag_dmr_user
DB_PASS=change_me
SESSION_SECURE_COOKIE=false
